# Node
frontend/node_modules/
frontend/.env

# Python
api/__pycache__/
__pycache__/
*.pyc
*.pyo

# Models & checkpoints (do NOT push)
models/
checkpoints/
TTS/
Wav2Lip/

# Outputs & uploads
uploads/
outputs/

# Env & venv
.env
*.env
venv/
env/

# OS
.DS_Store
Thumbs.db
