# -------------------------
# Node (Frontend)
# -------------------------
frontend/node_modules/
frontend/dist/
frontend/.env

# -------------------------
# Python (Backend)
# -------------------------
api/__pycache__/
__pycache__/
*.pyc
*.pyo

# -------------------------
# AI Models (HUGE — DO NOT PUSH)
# -------------------------
models/
checkpoints/
TTS/
Wav2Lip/

# -------------------------
# Generated Outputs
# -------------------------
uploads/
outputs/

# -------------------------
# Environments
# -------------------------
.env
*.env
venv/
env/

# -------------------------
# IDE / OS
# -------------------------
.vscode/
.DS_Store
Thumbs.db
