@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities */
@layer utilities {
  .animate-gradient-move {
    background-size: 400% 400%;
    animation: gradient-move 15s ease infinite;
  }
}

/* Keyframes */
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background-image: url('./assets/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* تبديل حسب رغبتك */
}

