fastapi
uvicorn[standard]
python-multipart

numpy
torch
torchaudio
opencv-python
librosa
soundfile
tqdm
moviepy

transformers
accelerate
sentencepiece
bitsandbytes
huggingface-hub

groq
openai-whisper
faster-whisper
TTS==0.22.0
